# Default ignored files
/shelf/
/workspace.xml

# IntelliJ 설정 파일 무시
.idea/

# Gradle 관련 파일 무시
.gradle/
build/
*.iml
*.log
*.class
build.gradle
settings.gradle

# Ignore Gradle wrapper files
gradlew
gradlew.bat